:root {
  /* color */
  --base-ft-color: rgb(114, 114, 114);
  --base-side-bar-bg: rgba(0, 0, 0, 1);
  --base-icon-active-color: rgb(190, 190, 190);
  --base-icon-default-color: var(--base-ft-color);
  --base-header-bar-bg: var(--base-side-bar-bg);
  --base-tree-bg: var(--base-side-bar-bg);

  /* utils */
  --base-pd-md: 6px;
  --base-radius: 6px;
  --base-transition: 0.2s;
}
