:root {
  /* color */
  --base-dark-primary: rgba(25, 25, 25, 1);
  --base-dark-second: rgba(37, 37, 37, 0.9);
  --base-accent-color: rgba(216, 191, 212, 1);
  --base-ft-color: rgba(225, 225, 225, 1);

  /* utils */
  --base-pd-md: 12px;
  --base-radius: 6px;
  --base-transition: 0.3s;
  --base-transition-props: 'color', 'background-color', 'padding', 'margin', 'width';

  /* font-family */
  --base-font-family: 'consolas';
}
