.file-tree {
  font-weight: 400;
}
.layout__resize--lr {
  // size-bar width
  margin: var(--base-pd-md) -3px;
}

.layout__resize:after,
.layout__resize:hover::after {
  color: transparent;
  border-color: transparent;
  background-color: transparent;
}
