/* 统一背景色 */
.layout-tab-bar,
.layout-tab-container {
  background-color: transparent;
}
.layout-tab-bar .item {
  background-color: var(--base-dark-third);
}
.dock,
.toolbar,
.file-tree,
.protyle,
.protyle-title__input,
.protyle-breadcrumb,
.layout__empty,
.block__icons,
.b3-dialog__container,
.b3-tab-container,
.search__header .b3-text-filed--text,
.b3-menu,
.protyle-icons,
.b3-snackbar__content,
.commonMenu,
.b3-menu__item,
.status {
  background-color: var(--base-dark-second);
}

.dock__item--activefocus,
.dock__item--active,
.layout__wnd--active .layout-tab-bar .item--focus:after,
.b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
  background-color: var(--base-dark-primary) !important;
}
.b3-tooltips::after {
  background-color: var(--base-dark-third);
}
.b3-tooltips::before {
  border-color: transparent;
}
.protyle-icons > span {
  background-color: var(--base-dark-third);
}
.layout-tab-bar {
  .item__text::after,
  .item--focus .item__text::after,
  .item:hover:not(.item--focus) .item__text::after {
    background: transparent;
    // background-color: transparent;
  }
}
