/* 统一字体颜色 */
body,
.dock__item,
.toolbar__item,
.protyle,
.protyle-title__input,
.protyle-breadcrumb,
.layout-tab-container,
.b3-list-item__text,
.layout-tab-bar .item,
.b3-list-item,
.b3-form__icon,
.b3-list--files .b3-list-item__toggle,
.popover__block.counter,
.b3-menu__item,
.protyle-breadcrumb__bar,
.protyle-background .b3-tooltips svg {
  color: var(--base-ft-color);
}
.b3-list--files {
  .b3-list-item__toggle--hl,
  .b3-list-item__action {
    color: var(--base-ft-color);
  }
}

/* 统一字体大小 */
body{
  font-size: calc(var(--base-ft-size) * 1.6);
}
.dock svg,
.toolbar__item svg,
.b3-list-item__icon svg,
.b3-list-item__icon img {
  font-size: calc(var(--base-ft-size) * 1.8);
  height: calc(var(--base-ft-size) * 1.5);
  width: calc(var(--base-ft-size) * 1.5);
}

/* 统一点缀色 */
// .layout-tab-bar,
// .b3-list-item__action,
// .b3-list-item__toggle {
//   fill: var(--base-accent-color);
//   color: var(--base-accent-color);
// }
