* {
  transition: all var(--base-transition) ease;
}

.dock,
.toolbar,
.file-tree,
.protyle,
.protyle-title__input,
.protyle-breadcrumb,
.layout-tab-bar .item,
.layout__empty {
  background-color: var(--base-side-bar-bg);
}

.dock__item,
.toolbar__item {
  color: var(--base-icon-default-color);
}

.protyle,
.protyle-title__input,
.protyle-breadcrumb,
.b3-list-item__text,
.layout-tab-bar .item,
.layout-tab-bar,
.dock__item:hover,
.toolbar__item:hover,
.dock__item:hover:not(.dock__item--active),
.b3-list-item__action,
.b3-list-item__toggle {
  color: var(--base-icon-active-color);
}

.b3-list--files .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom),
.b3-list--files .b3-list-item:hover {
  background-color: var(--base-ft-color) !important;
}

.b3-list-item__action:hover,
.b3-list-item__toggle:hover {
}

.file-tree,
.protyle,
.layout__empty,
.layout-tab-bar,
.layout__resize--lr {
  box-sizing: border-box;
  border-radius: var(--base-radius);
}

.layout-tab-bar {
  border-radius: var(--base-radius) var(--base-radius) 0 0;
}

.protyle {
  border-radius: var(--base-radius);
  border-top-left-radius: 0;
}

.protyle-breadcrumb {
  border-radius: 0 0 var(--base-radius) var(--base-radius);
}
