/* body-boder */
body.body--win32 {
  border: 0px solid transparent;
  background-color: var(--base-dark-primary);
}

/* 统一背景色 */
.layout-tab-bar,
.layout-tab-container {
  background-color: transparent;
}
.layout-tab-bar .item {
  background-color: var(--base-dark-third);
}
.dock,
.toolbar,
.file-tree,
.protyle,
.protyle-title__input,
.protyle-breadcrumb,
.layout__empty,
.block__icons,
.b3-dialog__container,
.b3-tab-container,
.search__header .b3-text-filed--text,
.b3-menu,
.protyle-icons {
  background-color: var(--base-dark-second);
}
.b3-tooltips::after {
  background-color: var(--base-dark-third);
}
.b3-tooltips::before {
  border-color: transparent;
}
.protyle-icons > span {
  background-color: var(--base-dark-third);
}
.layout-tab-bar {
  .item__text::after,
  .item--focus .item__text::after,
  .item:hover:not(.item--focus) .item__text::after {
    background: transparent;
    // background-color: transparent;
  }
}

/* 统一字体颜色 */
body,
.dock__item,
.toolbar__item,
.protyle,
.protyle-title__input,
.protyle-breadcrumb,
.layout-tab-container,
.b3-list-item__text,
.layout-tab-bar .item,
.b3-list-item,
.b3-form__icon,
.b3-list--files .b3-list-item__toggle,
.popover__block.counter,
.b3-menu__item,
.protyle-breadcrumb__bar,
.protyle-background .b3-tooltips svg {
  color: var(--base-ft-color);
}
.b3-list--files {
  .b3-list-item__toggle--hl,
  .b3-list-item__action {
    color: var(--base-ft-color);
  }
}

/* 统一点缀色 */
// .layout-tab-bar,
// .b3-list-item__action,
// .b3-list-item__toggle {
//   fill: var(--base-accent-color);
//   color: var(--base-accent-color);
// }

/* 统一 radius */
.file-tree,
.protyle,
.layout__empty,
.layout-tab-bar,
.layout__resize--lr,
.body.body--win32,
.protyle-icons {
  box-sizing: border-box;
  border-radius: var(--base-radius);
}
.layout-tab-bar {
  border-radius: var(--base-radius) var(--base-radius) 0 0;
}
.protyle {
  border-radius: var(--base-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.protyle-breadcrumb {
  border-radius: 0 0 var(--base-radius) var(--base-radius);
}
.protyle-icons > span:first-child {
  border-bottom-left-radius: var(--base-radius);
  border-top-left-radius: var(--base-radius);
}
.protyle-icons > span:last-child {
  border-bottom-right-radius: var(--base-radius);
  border-top-right-radius: var(--base-radius);
}

/* 统一 宽 / 高 度 */
.dock__item,
.dock.dock--vertical,
.dock--vertical .dock__item,
.toolbar__item {
  width: calc(3 * var(--base-pd-md));
}
.dock--vertical .dock__item {
  padding: var(--base-pd-md) 0;
}
.toolbar,
.toolbar__item {
  height: calc(3 * var(--base-pd-md));
}
.toolbar__item {
  padding: calc(var(--base-pd-md) / 2) var(--base-pd-md);
}
.protyle-background {
  min-height: calc(var(--base-pd-md) * 4);
}
// .protyle-icons {
//   transform: scale(1.2);
// }

/* 统一边距 */
.protyle-icons > span {
  padding: calc(var(--base-pd-md) / 2) var(--base-pd-md);
}
.layout-tab-container {
  margin: var(--base-pd-md);
}
.layout-tab-bar,
.layout-tab-container {
  // margin-left: 0px;
  margin-right: 0px;
}
.layout__center .layout-tab-container,
.layout__center .layout-tab-bar {
  margin-left: var(--base-pd-md);
  margin-right: var(--base-pd-md);
}
.b3-list--files {
  .b3-list-item {
    padding: calc(var(--base-pd-md) / 2) calc(var(--base-pd-md) * 2);
  }
}

/* 统一 hover */
.protyle-background .b3-tooltips:hover svg {
  color: var(--base-dark-primary);
}
.toolbar__item:hover,
.dock__item:hover,
.dock__item:hover:not(.dock__item--active) {
  color: var(--base-dark-primary);
  background-color: var(--base-ft-color);
}
.layout-tab-bar,
.b3-list--files {
  .b3-list-item__toggle--hl:hover,
  .b3-list-item__action:hover {
    color: var(--base-accent-color);
    background-color: transparent;
  }
  .item--focus,
  .item:hover:not(.item--focus),
  .b3-list-item:hover,
  .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color: var(--base-dark-primary) !important;
  }
}
.b3-list--background {
  .b3-list-item:hover:not(.b3-list-item--focus),
  .b3-list-item--focus {
    background-color: var(--base-dark-primary);
  }
}

/* 统一字体 */
body {
  font-weight: 400;
  letter-spacing: 0.8px;
  font-family: var(--base-font-family);
}

/* 统一 transition */
.layout-tab-container,
.dock,
.toolbar,
.b3-dialog {
  .dock__item,
  .toolbar__item,
  .dock__item::after,
  .dock__item::before,
  .toolbar__item::after,
  .toolbar__item::before,
  .b3-list-item,
  .b3-list-item__toggle--hl,
  .b3-list-item__action,
  .b3-tooltips::before,
  .b3-tooltips::after,
  .b3-dialog__container,
  .b3-dialog__close,
  .b3-label {
    transition-property: var(--base-transition-props);
    transition-duration: var(--base-transition);
    transition-timing-function: ease;
  }
}
.protyle {
  * {
    transition-property: var(--base-transition-props);
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
}

/* 统一 box-shadow */
.file-tree {
  // @include custom-box-shadow();
}
