@import './bg.scss';
@import './font.scss';
@import './radius.scss';
@import './wh.scss';
@import './pd_mg.scss';
@import './hover_transition.scss';

/* body-boder */
body.body--win32 {
  border: 0px solid transparent;
  background-color: var(--base-dark-primary);
}

/* 统一字体 */
body,
.protyle,
.b3-typography:not(.b3-typography--default),
.protyle-wysiwyg,
.protyle-title,
.protyle-title__input {
  font-weight: 400;
  letter-spacing: 0.8px;
  font-family: var(--base-font-family);
}

/* 杂物堆放🎁 */
.b3-tooltips__sw {
  text-align: center;
  // padding: calc(var(--base-pd-md) + 4.5px) 0;
}
.protyle-icons {
  z-index: 10;
}
.block__icon.b3-tooltips {
  justify-content: center;
  width: calc(var(--base-pd-md) * 2);
}
