/* 统一 radius */
.file-tree,
.protyle,
.layout__empty,
.layout-tab-bar,
.layout__resize--lr,
.body.body--win32,
.protyle-icons,
.b3-list-item,
.b3-menu,
.protyle-util,
.b3-dialog__container {
  box-sizing: border-box;
  border-radius: var(--base-radius);
}
.dock__item--activefocus,
.dock__item--active,.dock__item {
  border-radius: 0;
}
.layout-tab-bar {
  border-radius: var(--base-radius) var(--base-radius) 0 0;
}
.protyle {
  border-radius: var(--base-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.protyle-breadcrumb {
  border-radius: 0 0 var(--base-radius) var(--base-radius);
}
.protyle-icons > span:first-child {
  border-bottom-left-radius: var(--base-radius);
  border-top-left-radius: var(--base-radius);
}
.protyle-icons > span:last-child {
  border-bottom-right-radius: var(--base-radius);
  border-top-right-radius: var(--base-radius);
}
.b3-dialog__container{
  overflow: hidden;
}
