/* 统一 宽 / 高 度 */
.dock__item,
.dock.dock--vertical,
.dock--vertical .dock__item {
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  width: calc(4 * var(--base-pd-md));
}
.dock--vertical .dock__item {
  height: calc(4 * var(--base-pd-md));
}
.toolbar,
.toolbar__item {
  height: calc(4 * var(--base-pd-md));
}
.toolbar__item {
  padding: 0;
  justify-content: center;
  width: calc(4 * var(--base-pd-md));
}
.protyle-background {
  min-height: calc(var(--base-pd-md) * 5);
}
.protyle-wysiwyg--attr{
  max-width: 700px;
  margin: 0 auto !important;
}